body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

a {
	color: #000;
	text-decoration: none;
}

.nav {
	background-color: #c62828;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 16px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	justify-content: space-between;
}

.nav a {
	color: #fff;
}

.nav__items {
	display: flex;
	align-items: center;
	gap: 16px;
}
